In [1]:
import os
import json
import requests
import pandas as pd
import pymysql
from IPython.display import display, HTML

from sqlalchemy import create_engine, Column, String, Text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData


image_id = "test"
db_name = f'{image_id}.db'
DATABASE_DIR = "./recorder/databases/"
db_url = f"sqlite:///{os.path.join(DATABASE_DIR, db_name)}"
engine = create_engine(db_url)
metadata = MetaData()
metadata.reflect(bind=engine)

tables = metadata.tables
print(tables)
# Print table names
for table in tables:
    df = pd.read_sql_table(table, engine)
    display(df)

FacadeDict({'annotation': Table('annotation', MetaData(), Column('id', INTEGER(), table=<annotation>, primary_key=True, nullable=False), Column('x0', FLOAT(), table=<annotation>), Column('y0', FLOAT(), table=<annotation>), Column('x1', FLOAT(), table=<annotation>), Column('y1', FLOAT(), table=<annotation>), Column('xc', FLOAT(), table=<annotation>), Column('yc', FLOAT(), table=<annotation>), Column('poly_x', VARCHAR(), table=<annotation>), Column('poly_y', VARCHAR(), table=<annotation>), Column('label', VARCHAR(), table=<annotation>), Column('description', VARCHAR(), table=<annotation>), Column('annotator', VARCHAR(), table=<annotation>), schema=None), 'cache': Table('cache', MetaData(), Column('id', INTEGER(), table=<cache>, primary_key=True, nullable=False), Column('registry', VARCHAR(), table=<cache>), Column('tile_id', VARCHAR(), table=<cache>), schema=None)})

,id,x0,y0,x1,y1,xc,yc,poly_x,poly_y,label,description,annotator
0,1,39759.000000,28656.000000,39778.000000,28674.000000,39768.500000,28665.000000,"39760.00,39762.00,39764.00,39770.00,39772.00,3...","28670.00,28670.00,28672.00,28672.00,28670.00,2...",immune_nuclei,immune_nuclei; \nscore=0.9363,yolov8-lung
1,2,39822.000000,28142.000000,39869.000000,28183.000000,39845.500000,28162.500000,"39824.00,39824.00,39836.00,39840.00,39844.00,3...","28148.00,28166.00,28178.00,28178.00,28182.00,2...",tumor_nuclei,tumor_nuclei; \nscore=0.9313,yolov8-lung
2,3,39799.000000,28633.000000,39820.000000,28660.000000,39809.500000,28646.500000,"39818.00,39808.00,39800.00,39800.00,39806.00,3...","28636.00,28636.00,28644.00,28658.00,28658.00,2...",immune_nuclei,immune_nuclei; \nscore=0.914,yolov8-lung
3,4,39893.000000,28548.000000,39918.000000,28577.000000,39905.500000,28562.500000,"39916.00,39908.00,39908.00,39906.00,39904.00,3...","28548.00,28548.00,28550.00,28552.00,28552.00,2...",immune_nuclei,immune_nuclei; \nscore=0.9136,yolov8-lung
4,5,39766.000000,28529.000000,39784.000000,28552.000000,39775.000000,28540.500000,"39770.00,39768.00,39768.00,39778.00,39778.00,3...","28532.00,28534.00,28550.00,28550.00,28548.00,2...",immune_nuclei,immune_nuclei; \nscore=0.9086,yolov8-lung
...,...,...,...,...,...,...,...,...,...,...,...,...
5227,5228,40785.473905,23962.241051,44296.067655,26212.114402,42540.770780,25087.177726,,,,It takes heat to bring out the odor.,
5228,5229,34293.287651,19091.532056,48489.651287,28189.713874,41391.469469,23640.622965,,,,A salt pickle tastes fine with ham.,
5229,5230,39148.875384,23755.418161,67233.625384,41754.404969,53191.250384,32754.911565,,,,The stale smell of old beer lingers.,
5230,5231,35583.295478,18861.810328,37357.840933,19999.083055,36470.568205,19430.446692,,,,A zestful food is the hot cross bun.,
5231,5232,35583.708949,18862.036248,37359.810238,20000.306080,36471.759594,19431.171164,,,,Tacos al pastor are my favorite.,

    id     registry  tile_id
0    1  yolov8-lung  0_77_55
1    2  yolov8-lung  0_75_55
2    3  yolov8-lung  0_78_54
3    4  yolov8-lung  0_76_54
4    5  yolov8-lung  0_75_54
5    6  yolov8-lung  0_76_55
6    7  yolov8-lung  0_77_54
7    8  yolov8-lung  0_78_55
8    9  yolov8-lung  0_78_56
9   10  yolov8-lung  0_79_56
10  11  yolov8-lung  0_79_55
11  12  yolov8-lung  0_77_56
12  13  yolov8-lung  0_74_53
13  14  yolov8-lung  0_73_53
14  15  yolov8-lung  0_74_54
15  16  yolov8-lung  0_73_54
16  17  yolov8-lung  0_76_53
17  18  yolov8-lung  0_75_53
18  19  yolov8-lung  0_74_55
19  20  yolov8-lung  0_73_55
20  21  yolov8-lung  0_72_54
21  22  yolov8-lung  0_72_53
22  23  yolov8-lung  0_77_53
23  24  yolov8-lung  0_72_55
24  25  yolov8-lung  0_74_52
25  26  yolov8-lung  0_71_54
26  27  yolov8-lung  0_75_52
27  28  yolov8-lung  0_78_53
28  29  yolov8-lung  0_77_52
29  30  yolov8-lung  0_78_52
30  31  yolov8-lung  0_79_53
31  32  yolov8-lung  0_79_54
32  33  yolov8-lung  0_76_52
33  34  yolov8-lung  0_79_52
34  35  yolov8-lung  0_80_53
35  36  yolov8-lung  0_80_54
36  37  yolov8-lung  0_80_52
37  38  yolov8-lung  0_80_55

In [10]:
df = pd.read_sql_table('annotation', engine)
display(df)

,id,x0,y0,x1,y1,xc,yc,poly_x,poly_y,label,description,annotator
0,1,39759.000000,28656.000000,39778.000000,28674.000000,39768.500000,28665.000000,"39760.00,39762.00,39764.00,39770.00,39772.00,3...","28670.00,28670.00,28672.00,28672.00,28670.00,2...",immune_nuclei,immune_nuclei; \nscore=0.9363,yolov8-lung
1,2,39822.000000,28142.000000,39869.000000,28183.000000,39845.500000,28162.500000,"39824.00,39824.00,39836.00,39840.00,39844.00,3...","28148.00,28166.00,28178.00,28178.00,28182.00,2...",tumor_nuclei,tumor_nuclei; \nscore=0.9313,yolov8-lung
2,3,39799.000000,28633.000000,39820.000000,28660.000000,39809.500000,28646.500000,"39818.00,39808.00,39800.00,39800.00,39806.00,3...","28636.00,28636.00,28644.00,28658.00,28658.00,2...",immune_nuclei,immune_nuclei; \nscore=0.914,yolov8-lung
3,4,39893.000000,28548.000000,39918.000000,28577.000000,39905.500000,28562.500000,"39916.00,39908.00,39908.00,39906.00,39904.00,3...","28548.00,28548.00,28550.00,28552.00,28552.00,2...",immune_nuclei,immune_nuclei; \nscore=0.9136,yolov8-lung
4,5,39766.000000,28529.000000,39784.000000,28552.000000,39775.000000,28540.500000,"39770.00,39768.00,39768.00,39778.00,39778.00,3...","28532.00,28534.00,28550.00,28550.00,28548.00,2...",immune_nuclei,immune_nuclei; \nscore=0.9086,yolov8-lung
...,...,...,...,...,...,...,...,...,...,...,...,...
5221,5222,26492.490350,10809.925814,82661.990350,53258.890531,54577.240350,32034.408172,,,,,
5222,5223,32285.605247,12639.330519,88455.105247,55088.295235,60370.355247,33863.812877,,,,,
5223,5224,29101.085947,12029.528951,85270.585947,54478.493667,57185.835947,33254.011309,,,,,
5224,5225,25205.131484,12707.086248,81374.631484,55156.050965,53289.881484,33931.568607,,,,,
5225,5226,18099.700564,8403.764344,74269.200564,44401.737961,46184.450564,26402.751153,,,,The stale smell of old beer lingers. It takes...,

In [12]:
df1 = df.loc[df['label']=='adam']

In [4]:
df1

,id,x0,y0,x1,y1,xc,yc,poly_x,poly_y,label,description,annotator
18578,18579,552.73,67125.91,7069.09,70093.18,3810.91,68609.545,,,adam,adam,1
18616,18626,42886.21,17993.08,64658.39,34237.61,53772.30,26115.345,,,adam,d,1